doctype html
html
  head
    meta(charset="utf-8")
    meta(name="generator", content="ponyFiction.js v" + VERSION)
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="msapplication-TileColor", content="#653089")
    meta(name="msapplication-TileImage", content="/img/icns/tile/mstile-144.png")
    meta(name="theme-color", content="#653089")
    link(rel="shortcut icon", href="/img/icns/favicons/ponyfiction-js.ico")
    link(rel="icon", type="image/png", sizes="32x32", href="/img/icns/favicons/ponyfiction-js-32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/img/icns/favicons/ponyfiction-js-96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/img/icns/favicons/ponyfiction-js-16.png")
    link(rel="apple-touch-icon", sizes="57x57", href="/img/icns/apple-touch-icon/57/apple-touch-icon-57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/img/icns/apple-touch-icon/60/apple-touch-icon-60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/img/icns/apple-touch-icon/72/apple-touch-icon-72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/img/icns/apple-touch-icon/76/apple-touch-icon-76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/img/icns/apple-touch-icon/114/ponyfiction-js-114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/img/icns/apple-touch-icon/120/ponyfiction-js-120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/img/icns/apple-touch-icon/144/ponyfiction-js-144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/img/icns/apple-touch-icon/152/ponyfiction-js-152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/img/icns/apple-touch-icon/180/ponyfiction-js-180.png")
    link(rel="icon", type="image/png", href="/img/icns/chrome/chrome-ponyfiction-js-192.png", sizes="192x192")
    link(rel="mask-icon", href="/img/icns/safari-pinned-tab.svg", color="#653089")
    link(rel="manifest", href="/manifest.json")
    link(rel="author", type="text/plain", href="/humans.txt")
    noscript
        meta(http-equiv="refresh", content="0; URL=/badbrowser")
    link(rel="stylesheet", href="/assets/css/common.css")
    title= title || name

  body
    block header
      include header
    .main-container
      block nav
        include nav
      block content
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic")
    script(src="/assets/js/common.js")
