@use postcss-nested;

.container {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.content {
  width: 300px;
}

.image {
  width: 100%;
}

.message {
  padding: 20px 0 0;
  font-size: 105%;
}

.code {
  font-size: 270%;

  &::before {
    overflow: hidden;
    content: "···";
    display: flex;
    font-size: 80%;
    color: #653089;
    height: 28px;
    justify-content: center;
  }
}
