extends ../layout/layout

block content
  .blog-form-main-container#blog-editor
    .blog-form-container.fl
      .blog-form-fields
        form#blog-form(action="/blog/new", method="post")
          textarea.blog-form-textarea(name="post", v-model="postContent")
    .blog-view-container.fl
      .blog-view-content(v-html="postContent | md")
