{
  "presets": [
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "cwd": "./src",
      "alias": {
        "test": "./test",
        "system": "./system",
        "server": "./server",
        "static": "./server/static",
        "api": "./server/api",
        "setup": "./setup",
        "model": "./model",
        "config": "./config",
        "frontend": "./runtime/app",
        "package.json": "./package.json",
        "ignore-require": "./test/helper/ignore-require"
      }
    }],
    "transform-flow-strip-types",
    "transform-es2015-modules-commonjs",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-async-generator-functions",
    "transform-exponentiation-operator",
    "babel-plugin-transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
