{
  "plugins": [
    ["module-resolver", {
      "root": ["src"]
    }],

    "@babel/transform-runtime",
    "@babel/proposal-decorators",
    "@babel/proposal-class-properties",
    "@babel/proposal-async-generator-functions",
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-optional-catch-binding",
    "@babel/proposal-optional-chaining",
    "@babel/proposal-export-namespace",
    "@babel/proposal-export-default",
    "@babel/transform-modules-commonjs",
    ["@babel/proposal-object-rest-spread", {
      "useBuiltIns": true
    }]
  ]
}
