config/user.yaml
config/user.yml
config/test.yaml
config/test.yml
config/cert
config/assets.json

api
controller
coverage
core
model
setup
node_modules
test/runtime
foo
bar

deploy/sandbox

# Deprecated
theme/**/src/coffee-old

public/assets/img/**/*.svg
public/assets/js
public/assets/css

npm-debug.log
yarn-error.log
.DS_Store
index.js
*.rdb
*.doc
*.docx
*.odt

*.old
*-old

!setup/index.js
!setup/migrations/index.js
!src/controller
!src/core
!src/model
!src/setup

!test/unit/backend/controller
!test/unit/backend/core
!test/unit/backend/model
!test/unit/backend/setup
