# Main
.nyc_output
.dockerignore
.npmignore
.next

# Configs rules
config/cert/**
config/service/**/*.yml
config/base/**/*.yml

!config/base/default.yml
!config/service/**/default.yml

# Deprecated
config/app/user.yaml
config/app/user.yml
config/app/test.yaml
config/app/test.yml
config/runtime/assets.json
# End

# Main
server/graphql
server
system
setup
common
node_modules
deploy/sandbox
runtime

!src/server/graphql
!src/server
!src/system
!src/setup
!src/common
!src/setup/server
!src/setup/frontend

# Static content (styles, images, script etc)
static/assets/img/**/*.svg
static/assets/js
static/assets/css

# Tests runtime stuff and code coverage
coverage

!test/unit/system
!test/unit/server
!test/unit/frontend

# Junks
npm-debug.log
yarn-error.log
.DS_Store
*.rdb
*.doc
*.docx
*.odt

# An old codebase
*.old
*-old
