api
build
controller
coverage
configs/user.yaml
configs/user.yml
configs/test.yaml
configs/test.yml
configs/cert
core
model
setup
node_modules
public/assets
public/img/**/*.svg
test
foo
bar

deploy/sandbox

themes/**/public/img/**/*.svg
themes/**/public/assets
themes/**/src/vendor
themes/**/src/gulp-tmp

frontend/gulp-runtime
frontend/vendor
npm-debug.log
.DS_Store
index.js
*.rdb
*.doc
*.docx
*.odt
*.old

# Temporarily ignore API things
langs/**/api.yml
src/api
src/core/api
src/controller/api.coffee
themes/**/views/api

!setup/index.js
!setup/migrations/index.js
!src/build
!src/controller
!src/core
!src/model
!src/setup
!src/test
!src/test/core
!src/test/helper
