.auth
  &-container
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background white
    color #353535

  &-form-container,
  &-confirm-main-container
    width 100%
    align(center)

  &-form-box
    center(350px)
    cf()
    user-select none
    box-sizing border-box
    border maneFillViolet solid 1px

  &-header
    cf()
    text-align left
    font-size 110%
    background maneFillViolet
    line-height 56px

    a
      cf()
      display block
      width 100%
      text-decoration none

    &-icon
      width 56px
      height 56px
      background url("/img/layout/ponyfictionjs.svg") center center no-repeat
      background-size 34px

    &-title
      font-weight normal
      // color maneFillViolet
      color white

  &-form
    &-content
      padding 16px

    &-space
      input
        width 100%

  &-restore-link
    display block
    line-height 36px
    padding 0 2rem
    text-align center
    &, &:hover, &:active
      color maneFillViolet

.auth-input
  width 100%
  border-bottom-color rgba(maneFillViolet, .3)

.auth-confirm
  &-container
    center(600px)
    border maneFillViolet solid 1px
    box-sizing border-box

  &-header
    cf()
    background maneFillViolet
    color white
    font-size 110%
    line-height 56px
    user-select none

    &-title
      padding 0 16px 0 6px

    &-logo
      position relative
      width 56px
      height 56px
      background url('/img/layout/ponyfictionjs.svg') center center no-repeat
      background-size 34px

  &-content
    text-align center
    padding 20px 16px
