@import "rupture"
@import "func"

.container
  position relative

.list
  cardBase()
  display none
  position absolute
  overflow hidden
  width 100%
  background white
  padding 0
  margin 0
  list-style none
  box-sizing border-box

  &.active
    display block

.element
  padding 8px 10px
