extends ../layout/layout.jade

block header
block content
  .auth-confirm-main-container
    .auth-confirm-container
      .auth-confirm-header
        .auth-confirm-header-logo.fl
        .auth-confirm-header-title.fl= name
      .auth-confirm-content.
        При подтверждении регистрации произошла ошибка.<br>
        Возможно у Вас уже есть аккаунт на сайте #{name}.<br><br>
        Попробуйте <a href="/auth/signin">войти</a> на сайт, используя данные, 
        указанные Вами при регистрации.<br><br>
        В случае ошибки – Вы можете <a href="/auth/restore">восстановить пароль</a>, 
        а так же обратиться в <a href="/feedback">техническую поддержку</a> проекта.
