extends error

block title
  = t('ponyfiction.httpErrors.notFound.title')

block codeOnTopStyle
  .err-page-not-found= code

block image
  img(
    src="/img/errors/404.svg",
    alt="" + t('ponyfiction.httpErrors.notFound.title')
  )

block message
  = t('ponyfiction.httpErrors.notFound.message')
