@import "normalize.css/normalize.css"

html, body
  font-size 12px
  
html
  height 100%
  
body
  &, & > div:first-child
    height 100%

a
  text-decoration none

textarea, input, button
  &:focus, &:active
    outline none

#__next
  &, & > div
    height 100%
