extends ../layout

block content
  .tech-logo-container
    .tech-logo-box
      .tech-logo-nodejs
      .tech-logo-label Node.js
    .tech-logo-box
      .tech-logo-express
      .tech-logo-label Express
    .tech-logo-box
      .tech-logo-coffee
      .tech-logo-label CoffeeScript
    .tech-logo-box
      .tech-logo-pug
      .tech-logo-label Jade (Pug)
    .tech-logo-box
      .tech-logo-stylus
      .tech-logo-label Stylus
    .tech-logo-box
      .tech-logo-gulp
      .tech-logo-label Gulp
    .tech-logo-box
      .tech-logo-browserify
      .tech-logo-label Browserify
    .tech-logo-box
      .tech-logo-vuejs
      .tech-logo-label Vue.js
    .tech-logo-box
      .tech-logo-codemirror
      .tech-logo-label Codemirror
    .tech-logo-box
      .tech-logo-lodash
      .tech-logo-label Lodash