@import "variables"

.clearfix
  position relative
  height 46px

.container
  position fixed
  width 100%
  line-height 46px
  background maneFillViolet
  color white
  z-index 99

  a
    color white
    text-decoration none
    font-weight bold

.nav-container
  padding 0 16px
