@import "variables"

buttonColored(backgroundColor, textColor)
  background backgroundColor
  color textColor

.raised
  border 0
  padding 10px 16px
  box-sizing border-box

.violet
  buttonColored(maneFillViolet, white)
