form
  cf()

.input-container
  cf()
  position relative
  padding 12px 0
  margin 6px 0
  line-height 24px
  font-size 18px
  user-select none

.input-label
  position absolute
  top 18px
  left 6px
  padding 0 2px
  pointer-events none
  transition 0.2s ease all
  z-index -1

.form-input
  background transparent
  border none
  padding 6px 8px
  box-sizing border-box
  border-bottom maneFillViolet solid 1px
  &::placeholder
    color maneFillViolet

.form-input:focus ~ .input-label,
.form-input:valid ~ .input-label
  top -8px
  font-size 12px
  color maneFillViolet
  z-index 2

.input-label-float
  top -8px
  font-size 12px
  color maneFillViolet
  z-index 2

.input-tag
  background rgba(maneFillViolet, .8)
  color white
  padding 4px 8px
  margin 4px 0

.field-underscore, textarea
  position relative
  display block
  width 100%

  &::before, &::after
    position absolute
    content ''
    height 2px
    width 0
    bottom 0px
    background maneFillViolet
    transition 0.2s ease all


  &::before
    left 50%

  &::after
    right 50%

// Fix for textarea
textarea
  .field-underscore
    &::before, &::after
      bottom -6px

.form-input:focus
  ~ .field-underscore
      &::before, &::after
        width 50%

.suggestion-input
  &-tags
    cf()
    padding 0 8px
    box-sizing border-box

  &-tag
    padding 3px 12px
    margin 3px 5px 2px 0
    background rgba(maneFillViolet, .8)
    color white
    font-size 12px
    cursor pointer
    border-radius 2px

/**
 * Blog form
 **/
.blog
  &-form
    width 100%
    height 100%

    &-textarea
      width 100%
      height 500px
      resize none
      word-wrap break-word
      border none

  &-form-container,
  &-view-container
    position relative
    width 50%
    padding 20px 10px
    box-sizing border-box

  &-view-container
    word-wrap break-word

/**
 * Style for story editor
 */
.story-editor
  &-container
    width 100%
    padding 20px 26px
    box-sizing border-box

    input, textarea
      width 100%
      color #353535
      padding 6px 8px
      box-sizing border-box
      border none
      border-bottom solid rgba(maneFillViolet, 0.3) 1px

    textarea
      resize none

  &-field-container
    color #353535

  &-synopsis,
  &-info
    height 128px

.character-editor,
.tag-editor,
.comment-editor,
.input-suggestions
  &-container
    position relative

  &-list
    list-style none
    margin 0
    padding 0
    overflow hidden

    &-container
      cf()
      display none
      position absolute
      top 94%
      left 0
      width 100%
      max-height 48px * 5
      overflow-y auto
      line-height 36px
      box-sizing border-box
      background white
      border-radius 4px
      box-shadow 0 1px 3px rgba(black, .12),
        0 1px 2px rgba(black, .24)
      z-index 4

      &.active
        display block

      &.top
        top auto
        bottom 94%

    // TODO: remove this selector
    &-active
      display block

    & li
      cf()
      padding 6px 8px
      display block
      cursor pointer
      user-select none

    & li#selected-suggestion
      // background #dadada
      background rgba(black, .12)

    &-pic
      width 36px
      height 36px
      background white
      box-sizing border-box
      border black solid 1px
      border-radius 100%
      overflow hidden

    &-label
      padding-left 8px
