@import "variables"

input, textarea
  &:focus, &:active
    outline none

button, div, span
  &:active
    outline none

a
  text-decoration none

  &:hover
    text-decoration underline

  &, &:hover
    color maneStroke
