.story-editor
  &-buttons
    text-align right

    button
      margin-left 10px

.chapters-constructor
  &-container
    cf()

  &-buttons-wrapper
    position relative
    padding 20px 0 30px
    text-align center

  &-button
    position relative
    overflow hidden
    margin 0 12px 0 0

    svg
      display block
      fill white
      width 22px
      height 22px
      margin 0 auto
