/**
 * Twilight Sparkle color palette
 */

// Coat
coatFill = #daade8
coatFillShadow = #bf96ce
coatStroke = #a76ebf

// Mane and tail
maneFillBase = #2b3674
maneFillPurple = #ea4790
maneFillViolet = #653089
maneStroke = #161f4a

// Cutie mark
cutiemarkBigStar = #ef5092
cutiemarkSmallStars = white

// Nav
navMenuWidth = 320px
