@import "jeet"
@import "rupture"
@import "variables"
@import "reset"
@import "func"

.container
  height 100%
  box-sizing border-box

.main
  cf()
  height 100%
  box-sizing border-box

.details
  width 100%
  box-sizing border-box

  +above(413px)
    cardBase()
    width 412px
    margin 10px auto

  +above(412px * 2)
    margin 0 0 0 16px
  
  +above(413px * 2)
    width 412px
    float left

  .field
    cf()
    box-sizing border-box

  input, textarea
    width 100%
    box-sizing border-box
    padding 8px 10px
    border none
