/**
 * Media queries
 */
@media only screen and (max-width 425px)
  .profile
    &-cover-container
      position relative
      height 200px

    // &-main-info
    //   bottom -100px

    // &-avatar
    //   float none

    // &-label
    //   margin 0
