.tech-logo
  &-container
    center(1024px)
    cf()

  &-box
    width 50%
    float left
    overflow hidden

  &-label
    text-align center

  &-nodejs
    background white url('/img/technologies/nodejs.svg') center center no-repeat

  &-express
    background white url('/img/technologies/express.svg') center center no-repeat

  &-coffee
    background white url('/img/technologies/coffeescript.svg') center center no-repeat

  &-pug
    background white url('/img/technologies/jade.svg') center center no-repeat

  &-stylus
    background white url('/img/technologies/stylus.svg') center center no-repeat

  &-gulp
    background white url('/img/technologies/gulp.svg') center center no-repeat

  &-browserify
    background white url('/img/technologies/browserify.svg') center center no-repeat

  &-vuejs
    background white url('/img/technologies/vue.svg') center center no-repeat

  &-codemirror
    background white url('/img/technologies/codemirror.svg') center center no-repeat

  &-lodash
    background white url('/img/technologies/lodash.svg') center center no-repeat

  &-nodejs,
  &-express,
  &-coffee,
  &-pug,
  &-stylus,
  &-gulp,
  &-browserify,
  &-vuejs,
  &-codemirror,
  &-lodash
    // width 100%
    height 256px
    background-size contain

  &-label
    padding 10px 0