extends layout

block messageContent
  span.
    Добро пожаловать в библиотеку!<br>
    Чтобы активировать свой аккаунт, перейдите по этой ссылке: 
  a(href="" + host + "/auth/confirm/" + activationLink)= host + '/auth/confirm/'+ activationLink
  br
  br
  span.
    Ссылка будет действительна в течение суток.<br>
    Если Вы не регистрировались в библиотеке – просто проигнорируйте это сообщение.
