@import "jeet"
@import "rupture"
@import "variables"
@import "reset"
@import "func"

.container
  cursor pointer
  position relative
  max-width 412px
  height 614px
  text-align center
  border none
  background white

  // Set horisontal position to center when viewport width
  //   between the following values
  +between(413px, 412px * 2)
    margin 0 auto

  +above(413px)
    cardBase()
    width 412px
    // border #777 dashed 1px
  
  +above(413px * 2)
    width 412px
    float left

.label
  align(center)
  text-align center
  color #777
  text-transform uppercase

.preview
  width 100%
  position absolute
  align(center)

  img
    width 100%
