extends ../layout/layout

block content
  .post-container
    .post-header
      h3= post.title
      .post-owner

  //- This is NOT secure. I have to find another way.
  .post-content !{post.renderedContent}
