@import "../common/variables"
@import "jeet/"
@import "rupture"

html, body
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing antialiased
  font-size 14px
  background white
  color #343434
  user-select none

a
  text-decoration none
  color maneStroke

.fl
  float left

.fr
  float right

.outdated
  &-main-container
    align(center)
    width 100%
    text-align center
    font-size 120%

  &-container
    max-width 600px
    margin 0 auto

.featured
  &-browsers
    cf()
    padding 20px 0
    box-sizing border-box

  &-browser
    display block
    width 120px
    height 20px
    margin 10px 8px
    padding 132px 6px 0
    text-align center
    text-decoration none
